version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: 'crate-ci/typos'
  - package-ecosystem: 'bundler'
    # Don't icnlude '/gemfiles/oldest', the gemspec is not parsible by dependabot and using hardlink will broken the require_relative in gemspec
    directory: '/'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    groups:
      rubocop-dependencies:
        patterns:
          - '*rubocop*'
    ignore:
      - dependency-name: 'rubocop'
        versions:
          # https://github.com/rubocop/rubocop/pull/14067#issuecomment-2820741234
          - '1.75.3'
